.btn-my-wallet {
  background: #f2421b !important;
  border: 1px solid #f2421b !important;
  color: white !important;
  border-radius: 31px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-15) / var(--unnamed-line-spacing-18)
    var(--unnamed-font-family-sf-pro) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  text-align: center !important;
  margin: 25px !important;
  font-size: 15px !important;
  letter-spacing: 0px !important;
  line-height: 2.2px;
}
.wallet-content {
  margin-top: 30px;
}
.wallet-chart-content {
  margin: 10px 20px;
}
.wallet-chart-content p:first-child {
  font-size: 14px;
  margin-bottom: 0;
}
.wallet-chart-content p:last-child {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
.sticky {
  position: fixed !important;
  width: inherit;
  max-width: 29%;
  top: 15%;
}
.wallet-flex {
  justify-content: space-between;
}
.wallet-sort {
  display: flex;
  align-items: center;
}
.wallet-sort p {
  margin: 0;
  font-size: 18px;
}
.wallet-sort span {
  margin-left: 10px;
}
.wallet-container {
  padding-top: 60px;
}
#wallet-search.search {
  position: relative;
  width: 100%;
}
#wallet-search.search input {
  width: 100%;
  height: 36px;
  background: #f3f4f6 0% 0% no-repeat padding-box;
  border-radius: 18px;
  padding-left: 40px;
}
#wallet-search.search span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  background: linear-gradient(to left, #f2421b, orange);
  padding: 15px 30px;
  border-radius: 18px;
  color: #eee;
  cursor: pointer;
}
.wallet-filter-table {
  margin-top: 20px;
}

.date-filter-input {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #325a8f1a;
  border-radius: 10px;
  width: 145px;
  height: 44px;
  position: relative;
}
.wallet-table-responsive {
  height: 400px;
  width: 100%;
  margin-top: 30px;
}
.view-icon {
  color: orangered;
  cursor: pointer;
}
.MuiDataGrid-colCellWrapper {
  background-color: rgb(50, 90, 143);
  color: #eee;
}
.MuiIconButton-label {
  color: #eee;
}
.view-all-container {
  color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.view-all-container p {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}
.view-all-container span {
  font-size: 16px;
  margin-left: 10px;
}

/* wallet withdraw history */
.wallet-view-links-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.wallet-view-links-container .main-link {
  display: flex;
  align-items: center;
  color: rgb(145, 144, 144);
}
.wallet-view-links-container .main-link p {
  margin: 0;
  font-size: 16px;
}
.wallet-view-links-container .main-link span {
  margin-right: 10px;
  font-size: 24px;
}
.wallet-view-links-container span {
  font-size: 16px;
  margin: 0 10px;
}
.wallet-view-links-container .sub-link p {
  margin: 0;
  font-size: 16px;
  color: #333;
}
.wallet-withdrawal-history-content {
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px;
}
.wallet-withdrawal-history-content .withdrawal-title,
.wallet-withdrawal-history-content
  .withdrawal-content
  .withdrawal-data-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.withdrawal-content {
  padding: 5px 0;
  font-size: 16px;
}
.withdrawal-content p {
  margin: 0;
}
.withdrawal-title p {
  color: rgb(172, 172, 172);
  margin-bottom: 5px;
  font-size: 12px;
}
.withdrawal-data-content {
  border-bottom: 1px solid rgba(214, 214, 214, 0.575);
  padding: 7px 0;
}
.withdrawal-data-content:last-child {
  border-bottom: none !important;
}

/* Withdraw modal style */
.withdraw-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.withdraw-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.withdraw-form .ui.form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.withdraw-form .ui.form .field {
  margin: 0 auto;
}
.modal-action-btn {
  text-align: center;
}
.modal-action-btn button {
  background-color: orangered !important;
  color: white !important;
}
.MuiDataGrid-colCellTitleContainer {
  justify-content: center;
}
.MuiDataGrid-cell {
  text-align: center !important;
}
@media only screen and (max-width: 992px) {
  .wallet-container {
    padding-top: 0 !important;
  }
  .sticky {
    position: relative !important;
    max-width: 100%;
    top: 0 !important;
  }
  .main-content .page-content {
    padding: 66px 0 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .wallet-container {
    padding-top: 60px;
  }
  .sticky {
    top: 23%;
  }
  .btn-my-wallet {
    text-align: center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
